/* 
    font-family: 'Molengo', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Fredericka the Great', cursive;
 */
body {
    margin: 0;
    font-size: 16px;
    color: var(--blueDark);
    background: var(--blueLight);
    font-family: 'Molengo', sans-serif;
    --blue: #0E3B75;
    --blueDark: #05042B;
    --blueLight: #DAE6F5;
    --pink: #FCBCB8;

    --gap: 5px;
    --headerHeight: 72px;
    --footerHeight: 54px;
    --mainHeigh: calc(100vh - (var(--headerHeight) + var(--footerHeight)) );
    --templateColumns: [start] .5fr [ini_about] .5fr [p_1] 1fr [p_2] 1fr [p_3] 1fr  [p_4] 1fr [project_nav] 1fr [rest_space] 2fr [end] .5fr; 
    --templateRows: [header] var(--headerHeight) [main] var(--mainHeigh) [footer] var(--footerHeight);
    
    /* Border for ClipPaths */
    --borderThickness: 2px;
    --sizeContainerClip: calc(100% - (var(--borderThickness) * 2));

    /* Rows height for About_content */
    --aboutPercentage: calc((15 * var(--mainHeigh)) / 100);
    --aboutContentHeight: calc( var(--mainHeigh) - var(--aboutPercentage) );
    --aboutContentRow: calc(var(--aboutContentHeight) / 16);
    /* Font Relative to aboutContentHeight */
    --fontSizeAbout: calc((3.93 * var(--aboutContentHeight)) / 100);

    display: grid;
    grid-template: var(--templateRows) / 1fr;

}
h1, p {
    margin: 0;
    font-weight: normal;
}
header {
    display: grid;
    grid-row: header / 1 span;
    margin-bottom: var(--gap);
}
#navbar {
    display: inherit;
}
#navbar ul {
    margin: 0; 
    padding: 0;
    list-style: none;
    display: inherit;
    position: relative;
    grid-column-gap: var(--gap);
    grid-template-columns: var(--templateColumns);
}
#navbar ul::before {
    content: "";
    grid-column: start / 8;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--blueDark);
    clip-path: polygon(0 0, 88.5% 0, 83% 100%, 0 100%);
}
#navbar ul::after {
    content: "";
    grid-column: start / 8;
    position: absolute;
    top: var(--borderThickness);
    left: var(--borderThickness);
    height: var(--sizeContainerClip);
    width: var(--sizeContainerClip);
    background: var(--blueLight);
    clip-path: polygon(0 0, 88% 0, 83% 100%, 0 100%);
} 

#navbar ul li {
    display: inherit;
    z-index: 2;
    font-weight: bold;
    font-size: 1.2em;
}
#navbar ul li a {
    color: inherit;
    text-decoration: none;
    align-self: center;
}
#navbar ul li:nth-of-type(1) {
    font-size: 2.5em;
    color: var(--blue);
    grid-column: ini_about / span 2;
    font-family: 'Monoton', Arial;
}
#navbar ul li:nth-of-type(2) {
    grid-column: p_4 / 1 span;
}
#navbar ul li:nth-of-type(3) {
    color: var(--blueLight);
    grid-column: project_nav / -1;
    background-color: var(--blueDark);
    clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
}
#navbar ul li:nth-of-type(3) a {
    position: relative;
    justify-self: left;
    left: 20%;
}



main {
    display: grid;
    position: relative;
    grid-row: main / footer;
    grid-gap: 5px;
    grid-template-columns: var(--templateColumns);
}
#welcome-section {
    display: grid;
    grid-template-rows: 5% 1fr 5%;
    grid-template-columns: 5% 1fr 30%;
    color: var(--pink);
    grid-row: 1 / -1;
    grid-column: start / project_nav;
    /* padding: 7% 20% 7% 5%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--blueDark);
    clip-path: polygon(0 0, 99% 0, 20% 100%, 0% 100%);
}
#welcome-section .about_content {
    grid-row: 2 / 1 span;
    grid-column: 2 / 1 span;
    text-align: center;
    font-size: var(--fontSizeAbout);
    display: grid;
    grid-template-rows: repeat(18, 1.5em); 
    grid-template-columns:  5.5em 2.5em 1fr/*  6.125em 1.75em 1fr ||  92px 28px 1fr */;
}
#welcome-section .about_content .phrase {
    /* border: 1px solid red; */
    display: flex;
    align-self: end;
    font-family: 'Viga', serif;
    justify-content: left;
}

#welcome-section.about_content .row1 {
    grid-row: 1 span;
}
#welcome-section .about_content .row2 {
    grid-row: 2 span; 
    font-size: 2em;
    font-family: 'Fredericka the Great', Arial;
}
#welcome-section .about_content .column1 {
    grid-column: 1 span;
}
#welcome-section .about_content .column2 {
    grid-column: 2 span;
}
#welcome-section .about_content .column3 {
    grid-column: 3 span;
}
#welcome-section .about_content span {
    color: var(--blueLight);
}
#welcome-section .about_content .phrase:nth-of-type(8)  {
    padding: 0px .5em;
    color: var(--blueLight);
    font-family: 'Oleo Script', cursive;
}
#welcome-section .about_content .phrase:nth-of-type(8)::before,
#welcome-section .about_content .phrase:nth-of-type(8)::after {
    content: "";
    display: grid;
    margin: 0px 1em;
    align-self: center;
    width: 40%;
    border-bottom: 2px solid var(--blueLight);
}
#welcome-section .about_content .phrase:nth-of-type(15) {
    padding-left: .8em;
}

#welcome-section .about_content .phrase:nth-of-type(16) {
    padding-left: 10%;
}



#projects {
    display: inherit;
    grid-gap: 5px;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
    grid-template-rows: repeat(4, 1fr);
}

#projects .project {
    display: inherit;
    position: relative;
    background: var(--blueDark);
}
#projects .project:nth-of-type(1) {
    grid-row: 1 / 1 span;
    grid-column: p_4 / -1;
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
}
#projects .project:nth-of-type(1) a {
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 102%);
}
#projects .project:nth-of-type(1) a:hover {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 120%);
}
#projects .project:nth-of-type(1) a:hover span {
    transition: .3s;
    font-size: 1.2em;
    font-weight: bold;
}

#projects .project:nth-of-type(2) {
    grid-row: 2 / 1 span;
    grid-column: p_3 / -1;
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
}
#projects .project:nth-of-type(2) a {
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 102%);
}
#projects .project:nth-of-type(2) a:hover {
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0% 120%);
}
#projects .project:nth-of-type(2) a:hover span {
    transition: .3s;
    font-size: 1.2em;
    font-weight: bold;
}

#projects .project:nth-of-type(3) {
    grid-row: 3 / 1 span;
    grid-column: p_2 / -1;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}
#projects .project:nth-of-type(3) a {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 102%);
}
#projects .project:nth-of-type(3) a:hover {
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 120%);
}
#projects .project:nth-of-type(3) a:hover span {
    transition: .3s;
    font-size: 1.2em;
    font-weight: bold;
}

#projects .project:nth-of-type(4) {
    grid-row: 4 / 1 span;
    grid-column: p_1 / -1;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
}
#projects .project:nth-of-type(4) a {
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 102%);
}
#projects .project:nth-of-type(4) a:hover {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 120%);
}
#projects .project:nth-of-type(4) a:hover span {
    transition: .3s;
    font-size: 1.2em;
    font-weight: bold;
}

#projects .project .projectLink {
    color: var(--blue);
    font-size: 1.5em;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    display: grid;
    transition: .3s;
    grid-template-columns: 1fr 300px;
    top: var(--borderThickness);
    left: var(--borderThickness);
    height: var(--sizeContainerClip);
    width: var(--sizeContainerClip);
    position: relative;
    background: var(--blueLight);
}
#projects .project .projectLink span {
    grid-column: 2 / 1 span;
    align-self: center;
}
footer {
    display: inherit;
    position: relative;
    margin-top: 5px;
    grid-row: footer / 1 span;
    grid-template-columns: var(--templateColumns);
}
footer .rightFooter {
    display: inherit;
    grid-template: inherit;
    grid-column: ini_about / -1;
    background: var(--blueDark); 
    clip-path: polygon(6.5% 0, 100% 0, 100% 100%, 0% 210%);
}
footer .rightFooter .links {
    display: inherit;
    justify-content: end;
    gap: .5em;
    align-content: center;
    grid-column: rest_space / 1 span;
    grid-template-columns: repeat(3, 25px);
}
 
footer .rightFooter .links .link svg {
    width: 100%;
    height: 100%;
}

.leftFooter {
    display: grid;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    grid-column: 1 / 3;
    background: var(--blueDark);
    clip-path: polygon(0 0, 98% 0, 72% 104%, 0 100%);
}
.leftFooter::after {
    content: "";
    color: var(--blueDark) ;
    align-self: center;
    font-size: .8em;
    background: var(--blueLight);
    clip-path: polygon(0 0, 98% 0, 72% 110%, 0 100%);
    height: var(--sizeContainerClip);
    width: var(--sizeContainerClip);
    
}
@media screen and (max-width: 1190px) {
    #welcome-section .about_content {
        grid-template-rows: repeat(18, 1.5em); 
        grid-template-columns:  5.5em 2.5em 1fr/*  6.125em 1.75em 1fr ||  92px 28px 1fr */;
    }
    /* #welcome-section .about_content .phrase {
        border: 1px solid yellow;
    } */
    #welcome-section .about_content .row2 {
        font-size: 1.8em;
    }
    
}
@media screen and (max-width: 1040px) { 
    #welcome-section .about_content .phrase:nth-of-type(4) {
        grid-row: 3 span;
    }
}
@media screen and (max-width: 768px){

    /* #welcome-section .about_content .phrase {
        border: 1px solid white;

    } */
    #welcome-section .about_content .phrase {
        font-size: .8em;
    }
    #welcome-section .about_content .phrase.row2 {
        font-size: 1.4em;
    }
    #welcome-section .about_content {
        grid-template-rows: repeat(18, 1.2em); 
        grid-template-columns:  4.5em 2.5em 1fr/*  6.125em 1.75em 1fr ||  92px 28px 1fr */;
    }
    #projects .project .projectLink {
        grid-template-columns: 1fr 200px;
    }
    #projects .project .projectLink span {
        grid-column: 2 / 1 span;
    }
}
@media screen and (max-width: 622px) {
    /* #welcome-section .about_content .phrase {
        border: 1px solid lightblue;
    } */
    #welcome-section .about_content .phrase {
        font-size: .6em;
    }
    #welcome-section .about_content .phrase.row2 {
        font-size: 1.2em;
    }
    #welcome-section .about_content {
        grid-template-rows: repeat(18, 1.2em); 
        grid-template-columns:  3.2em 2.5em 1fr/*  6.125em 1.75em 1fr ||  92px 28px 1fr */;
    }
}
@media screen and (max-width: 425px) {
    #projects .project .projectLink {
        grid-template-columns: 1fr 150px;
    }
    #projects .project .projectLink span {
        grid-column: 2 / 1 span;
    }
}
@media screen and (max-width: 325px) {
    #projects .project .projectLink {
        grid-template-columns: 1fr 120px;
    }
    #projects .project .projectLink span {
        font-size: .8em;
        grid-column: 2 / 1 span;
    }
}

@media screen and (max-width: 525px){
    /* main .about {
        padding: 10%;
    }
    main #projects {
        grid-column: 1 / -1;
    }
    main #projects .project {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
    }
    main #projects .project:nth-of-type(1),
    main #projects .project:nth-of-type(2),
    main #projects .project:nth-of-type(3),
    main #projects .project:nth-of-type(4) {
        grid-column: 8 / -1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    main #projects .project:nth-of-type(1) .projectLink,
    main #projects .project:nth-of-type(2) .projectLink,
    main #projects .project:nth-of-type(3) .projectLink,
    main #projects .project:nth-of-type(4) .projectLink,
    main .about {
        font-size: 16px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    } */
}
