/* 
    font-family: 'Molengo', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Fredericka the Great', cursive;
 */
body {
    margin: 0;
    font-size: 16px;
    color: var(--blueDark);
    background: var(--blueLight);
    font-family: 'Molengo', sans-serif;
    --blue: #0E3B75;
    --blueDark: #05042B;
    --blueLight: #DAE6F5;
    --pink: #FCBCB8;

    --gap: 5px;
    --headerHeight: 72px;
    --footerHeight: 54px;
    --mainHeigh: calc(100vh - (var(--headerHeight) + var(--footerHeight)) );
    --templateColumns: [start] .5fr [ini_about] .5fr [p_1] 1fr [p_2] 1fr [p_3] 1fr  [p_4] 1fr [project_nav] 1fr [rest_space] 2fr [end] .5fr; 
    --templateRows: [header] var(--headerHeight) [main] var(--mainHeigh) [footer] var(--footerHeight);
    
    /* Border for ClipPaths */
    --borderThickness: 2px;
    --sizeContainerClip: calc(100% - (var(--borderThickness) * 2));

    display: grid;
    grid-template: var(--templateRows) / 1fr;

}
h1, p {
    margin: 0;
    font-weight: normal;
}
header {
    display: grid;
    grid-row: header / 1 span;
    margin-bottom: var(--gap);
}
header nav {
    display: inherit;
}
header nav ul {
    margin: 0; 
    padding: 0;
    list-style: none;
    display: inherit;
    position: relative;
    grid-column-gap: var(--gap);
    grid-template-columns: var(--templateColumns);
}
header nav ul::before {
    content: "";
    grid-column: start / 8;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--blueDark);
    clip-path: polygon(0 0, 92% 0, 83.3% 100%, 0 100%);
}
header nav ul::after {
    content: "";
    grid-column: start / 8;
    position: absolute;
    top: var(--borderThickness);
    left: var(--borderThickness);
    height: var(--sizeContainerClip);
    width: var(--sizeContainerClip);
    background: var(--blueLight);
    clip-path: polygon(0 0, 91.5% 0, 83.3% 100%, 0 100%);
} 

header nav ul li {
    display: inherit;
    z-index: 2;
}
header nav ul li span {
    align-self: center;
}
header nav ul li:nth-of-type(1) {
    font-size: 2.5em;
    color: var(--blue);
    grid-column: ini_about / span 2;
    font-family: 'Monoton', Arial;
}
header nav ul li:nth-of-type(2) {
    grid-column: p_4 / 1 span;
}
header nav ul li:nth-of-type(3) {
    color: var(--blueLight);
    grid-column: project_nav / -1;
    background-color: var(--blueDark);
    clip-path: polygon(15.5% 0, 100% 0, 100% 100%, 0% 100%);
}
header nav ul li:nth-of-type(3) span {
    position: relative;
    justify-self: left;
    left: 20%;
}



main {
    display: grid;
    position: relative;
    grid-row: main / footer;
    grid-gap: 5px;
    grid-template-columns: var(--templateColumns);
}
.about {
    display: inherit;
    color: var(--pink);
    grid-row: 1 / -1;
    grid-column: start / project_nav;
    padding: 10% 40% 5% 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--blueDark);
    clip-path: polygon(0 0, 99% 0, 20.2% 100%, 0% 100%);
}
.about .about_content {
    text-align: center;
    font-size: 1em;
    display: grid;
    grid-template-rows: repeat(16, 20px);
    grid-template-columns: 92px 28px 1fr;
}
.about .about_content .phrase {
    display: flex;
    font-family: 'Viga', serif;
    justify-content: left;
    align-content: start;

}

.about .about_content .row1 {
    grid-row: 1 span;
}
.about .about_content .row2 {
    grid-row: 2 span; 
    font-size: 2em;
    font-family: 'Fredericka the Great', Arial;
}
.about .about_content .column1 {
    grid-column: 1 span;
}
.about .about_content .column2 {
    grid-column: 2 span;
}
.about .about_content .column3 {
    grid-column: 3 span;
}
.about .about_content span {
    color: var(--blueLight);
}
.about .about_content .phrase:nth-of-type(8)  {
    padding: 0px .5em;
    color: var(--blueLight);
    font-family: 'Oleo Script', cursive;
}
.about .about_content .phrase:nth-of-type(8)::before,
.about .about_content .phrase:nth-of-type(8)::after {
    content: "";
    display: grid;
    margin: 0px 1em;
    align-self: center;
    width: 40%;
    border-bottom: 2px solid var(--blueLight);
}


.projects {
    display: inherit;
    grid-gap: 5px;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
    grid-template-rows: repeat(4, 1fr);
}

.projects .project {
    display: inherit;
    position: relative;
    background: var(--blueDark);
}
.projects .project a {
    top: var(--borderThickness);
    left: var(--borderThickness);
    height: var(--sizeContainerClip);
    width: var(--sizeContainerClip);
    position: absolute;
    background: var(--blueLight);
}
.projects .project:nth-of-type(1) {
    grid-row: 1 / 1 span;
    grid-column: p_4 / -1;
    clip-path: polygon(21.5% 0, 100% 0, 100% 100%, 0% 100%);
}
.projects .project:nth-of-type(1) a {
    clip-path: polygon(21.5% 0, 100% 0, 100% 100%, 0% 102%);
}

.projects .project:nth-of-type(2) {
    grid-row: 2 / 1 span;
    grid-column: p_3 / -1;
    clip-path: polygon(17.5% 0, 100% 0, 100% 100%, 0% 100%);
}
.projects .project:nth-of-type(2) a {
    clip-path: polygon(17.5% 0, 100% 0, 100% 100%, 0% 102%);
}

.projects .project:nth-of-type(3) {
    grid-row: 3 / 1 span;
    grid-column: p_2 / -1;
    clip-path: polygon(14.8% 0, 100% 0, 100% 100%, 0% 100%);
}
.projects .project:nth-of-type(3) a {
    clip-path: polygon(14.8% 0, 100% 0, 100% 100%, 0% 102%);
}

.projects .project:nth-of-type(4) {
    grid-row: 4 / 1 span;
    grid-column: p_1 / -1;
    clip-path: polygon(12.8% 0, 100% 0, 100% 100%, 0% 100%);
}
.projects .project:nth-of-type(4) a {
    clip-path: polygon(12.8% 0, 100% 0, 100% 100%, 0% 102%);
}
.projects .project .projectLink {
    color: white;
    text-align: center;
    text-decoration: none;
}

footer {
    display: inherit;
    margin-top: 5px;
    grid-row: footer / 1 span;
    grid-template-columns: var(--templateColumns);
}
footer .rightFooter {
    display: inherit;
    grid-template: inherit;
    grid-column: ini_about / -1;
    background: var(--blueDark); 
    clip-path: polygon(6.5% 0, 100% 0, 100% 100%, 0% 137%);
}
footer .rightFooter .links {
    display: inherit;
    justify-content: end;
    gap: .5em;
    align-content: center;
    grid-column: rest_space / 1 span;
    grid-template-columns: repeat(2, 25px);
}
 
.links .link svg {
    width: 100%;
    height: 100%;
}
