:root {
  font-size: 22px;
  --width-break: 100vw;
  --height-break: calc((var(--width-break) * 9) / 16);
  --color-light: #f9ebeb;
  --color-dark: #1b1f3b;
  --color-main: #1f2a7a;
  --color-darkBg: #17263f;
  --color-lightAlt: #d7daf4;
  --color-unactive: rgba(27, 31, 59, 0.5);
  --unactive: #1b1f3b;
  --margin: 3em;
  --font-call: "ABeeZee", sans-serif;
  --font-text: "Montserrat", sans-serif;
  --font-title: "Muli", sans-serif;
  --font-headlines: "Righteous", cursive;
  --font-append: "Roboto", sans-serif;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadowHover: 0px 14px 14px rgba(0, 0, 0, 0.25);
  --marginBody: 6% /*  190px*/;
  --columns: 8;
  --mainColumns: repeat(var(--columns), 1fr);
  --bodyColumns: var(--marginBody) repeat(var(--columns), 1fr) var(--marginBody);
  --heightCell: 120px;
}
* {
  margin: 0;
  color: var(--color-dark);
}

.icon {
  background: var(--color-main);
  border-radius: 50%;
  height: 5em;
  width: 5em;
  display: block;
}
.btn {
  border: none;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 1.5em;
  transition: 0.5s;
  border-radius: 2.7em;
  outline: transparent;
  font-family: var(--font-title);
  background-color: var(--color-light);
}
.btn:hover {
  box-shadow: var(--shadowHover);
}
.btn-call {
  height: 70px;
  font-size: 2em;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  text-align: center;
  align-self: center;
  outline: transparent;
  color: var(--color-light);
  height: var(--heightCell);
  font-family: var(--font-call);
  border: 2px solid var(--color-lightAlt);
  background-color: var(--color-main);
  box-shadow: var(--shadow);
}
.btn-call:hover {
  transition: 0.3s;
  box-shadow: var(--shadowHover);
}

.card {
  padding: 2em;
  transition: 0.5s;
  box-shadow: var(--shadow);
}
.card:hover {
  box-shadow: var(--shadowHover);
}

.break {
  position: relative;
  margin-top: 5em;
  background-color: red;
  height: calc(var(--heightCell) * 7);
}

.break img {
  width: 105vw;
  z-index: -5 /* -5 */;
  right: calc(var(--marginBody) * (-2));
  bottom: -100px;
  position: absolute;
}

body {
  gap: 1em;
  margin: 0px;
  display: grid;
  height: 100%;
  background-color: var(--color-light);
  grid-template-columns: var(--marginBody) auto var(--marginBody);
  grid-template-rows: 100px auto 600px;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  border: 1px solid green;
}
p {
  font-size: 1.8em;
  font-family: var(--font-text);
}
header {
  gap: 1em;
  display: grid;
  grid-area: header;
  background: blue;
  grid-template-columns: var(--bodyColumns);
}

nav {
  background: orange;
  display: grid;
  grid-column: 2 / var(--columns) span;
}

nav ul {
  padding: 0;
  list-style: none;
  background-color: green;
  grid-column: 6 / 3 span;
  gap: 1em;
  display: inherit;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
}

nav ul li {
  width: 80%;
  background: red;
  display: grid;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid transparent;
}

nav ul li a {
  font-size: 1.5em;
  text-decoration: none;
  font-family: var(--font-title);
}

nav ul li:hover {
  transition: 0.2s;
  border-bottom: 4px solid var(--color-dark);
}
main {
  grid-area: main;
}
.container {
  gap: 1em;
  display: grid;
  padding: var(--heightCell) 0;
  grid-template-columns: var(--mainColumns);
}
.item-4 {
  grid-column: 4 span;
}
.hero {
  background: lightcyan;
  display: grid;
  grid-template-rows: repeat(auto, var(--heightCell));
}
.hero article {
  display: grid;
  justify-items: center;
  border: 1px solid red;
  grid-column: 4 span;
}
.hero article.headline h1 {
  font-size: 4.5em;
  font-family: var(--font-headlines);
}
.hero article.headline p {
  /* white-space: nowrap; */
  margin: 2em 0;
  font-family: var(--font-text);
}
.hero article.headline p span {
  text-align: center;
  display: block;
  margin: 0.5em;
}
.hero article.headline .btn-call {
  width: 580px;
  margin: 1em;
}

.projects {
  background-color: greenyellow;
}
.projects .project.reverse {
  direction: rtl;
}
.projects .project .video {
  height: 600px;
}
.projects .project .video video {
  background: magenta;
  height: 75%;
  width: 100%;
}
.projects .project .aboutProject {
  gap: 1em;
  display: grid;
  height: 600px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 136px);
}
.projects .project .aboutProject .aboutProjectOptions {
  display: grid;
  grid-column: 1 /1 span;
  grid-row: 1 / 3 span;
}
.projects .project .aboutProject .aboutProjectOptions .btn {
  height: 65px;
}
.projects .project .aboutProject .aboutProjectDescription {
  grid-column: 3 span;
  grid-row: 3 span;
}
.projects .project .aboutProject .projectActions {
  grid-column: 4 span;
}

.projects .project .aboutProject .projectActions {
  grid-template-columns: inherit;
  grid-column: 4 span;
  grid-row: 1 span;
  gap: inherit;
  display: grid;
}
.projects .project .aboutProject .projectActions .aboutProjectOptions {
  display: grid;
}
.projects .project .aboutProject .projectActions .icon {
  justify-self: end;
  align-self: center;
  display: inline-flex;
  grid-column: 1 / 1 span;
}
.projects .project .aboutProject .projectActions .btn-call {
  white-space: nowrap;
  grid-column: 2 / 2 span;
  height: 50px;
  display: grid;
  align-content: center;
}
.aboutMe {
  background: azure;
  border: 1px solid green;
}
.aboutMe .aboutMeDescription {
  height: 600px;
  padding: 5em;
  grid-column: 5 span;
  border: 1px solid red;
  text-align: center;
  display: grid;
  align-content: center;
}
.aboutMe .aboutMeDescription p {
  font-size: 2em;
  line-height: 1.7em;
  /* padding: 3em; */
}
.aboutMe .aboutMeFunctions {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  grid-column: 3 span;
  border: 1px solid red;
  height: calc(600px + (5em * 2));
}

.aboutMe .aboutMeFunctions .containerCarousel {
  width: 100%;
  height: 90%;
  position: relative;
  background-color: lightseagreen;
  border: 1px solid lightseagreen;
}

.aboutMe .aboutMeFunctions .containerCarousel .carousel {
  overflow: hidden;
  position: relative;
  width: var(--carousel-width) /* 100% */;
  height: var(--carousel-height) /* 90% */;
  perspective: 93px;
  transform-style: preserve-3d;
  /* transform-origin: 50% 50%; */
  transform: rotate(90deg);
  position: absolute;
  left: 50%;
  margin-left: calc(var(--carousel-width) / -2) /* -50% */;
  top: 50%;
  margin-top: calc(var(--carousel-height) / -2) /* -45% */;
  border: 1px solid blue;
}
.carousel-item {
  visibility: hidden;
  opacity: 1 !important;
  background: var(--color-light);
  width: var(--carousel-item-width);
  height: var(--carousel-item-height);
  position: absolute;
  top: -3%;
  left: 0;
  width: 36.25% !important;
  height: 80% !important;
}
.carousel-item.active p {
  color: var(--color-dark);
}
.carousel-item.card {
  box-shadow: 8px 0px 8px 2px rgba(27, 31, 59, 0.2);
}
.carousel-item.card:hover {
  box-shadow: 12px 0px 8px 4px rgba(27, 31, 59, 0.2);
}
.carousel-item p {
  transform: rotate(-90deg);
  width: 100%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 0;
  text-align: center;
  font-size: 1.5em;
  transition: 0.25s;
  font-family: var(--font-title);
  color: var(--color-unactive);
  display: grid;
  align-content: center;
  cursor: default;
}

.contact {
  background-color: mediumseagreen;
  border: 1px solid white;
  grid-column: 1 /-1;
}
.contact form {
  gap: 2em;
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: repeat(6, 100px);
}
.contact form div {
  height: 60%;
  align-self: center;
}
.contact form div input {
  height: 50%;
  width: 80%;
}
.contact form input,
.contact form textarea {
  font-size: 1.5em;
  padding: 0.5em 1em;
  outline: transparent;
  font-family: var(--font-text);
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
}
.contact form h3 {
  font-size: 3em;
  align-self: center;
  text-align: center;
  font-family: var(--font-title);
  grid-column: 2 / -2;
}
.contact form .name {
  border-right: 4px solid var(--color-dark);
  grid-column: 2 / 3 span;
}
.contact form .email {
  display: grid;
  justify-items: end;
  grid-column: 5 / 3 span;
  border-left: 4px solid var(--color-dark);
}
.contact form .email input {
  justify-self: right;
}
.contact form .description {
  grid-row: 3 span;
  grid-column: 2 / 6 span;
}
.contact form .btn-call {
  height: 80%;
  width: 450px;
  padding: 0% 10%;
  justify-self: center;
  grid-column: 4 / 2 span;
}

footer {
  display: grid;
  grid-area: footer;
  height: fit-content;
  grid-template-columns: var(--bodyColumns);
  background-color: var(--color-dark);
}
footer .break {
  grid-column: 1 / -1;
}
footer .break img {
  right: 0;
}
footer .container {
  border: 1px solid yellow;
  gap: 1em;
  grid-column: 2 / -2;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: var(--mainColumns);
}
footer .container article {
  grid-column: 2 / 3 span;
  display: grid;
  align-content: baseline;
  height: 100px;
}
footer .container article a,
footer .container article p {
  font-size: 2.5em;
  text-decoration: none;
  font-family: var(--font-title);
  color: var(--color-light);
}
footer .container .twitter {
  grid-row: 2 / 1 span;
}
footer .container .github {
  grid-row: 3 / 1 span;
}
footer .container .linkedin {
  grid-row: 4 / 1 span;
}

footer .container .trademark {
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  grid-row: 3 / 1 span;
  grid-column: 5 / 3 span;
}

@media (max-width: 1523px) {
  :root {
  }
  body {
    background: lightcoral;
  }
  .hero article.headline {
    justify-items: center;
    display: grid;
  }
  .hero article.headline h1 {
    display: grid;
    text-align: center;
    font-size: 4em;
    line-height: 80px;
  }
  .hero article.headline p {
    font-size: 1.7em;
    margin: 0.5em 0;
  }
  .hero article.headline p span {
    margin: 0.5em 0;
  }
  .hero article.headline .btn-call {
    width: 450px;
    font-size: 1.9em;
    margin: 0;
  }
  .projects .project .aboutProject .projectActions .btn-call {
    padding: 0.5em 1em;
  }
  .aboutMe .aboutMeDescription,
  .aboutMe .aboutMeFunctions {
    grid-column: 1 / -1;
  }
  .break {
    height: calc(var(--heightCell) * 6);
  }
  .break img {
    top: -20vh;
  }
}
@media (max-width: 1300px) {
  :root {
    --columns: 5;
  }
  body {
    background: blueviolet;
  }
  nav ul {
    grid-column: 1 / 3 span;
  }
  .hero article {
    grid-column: 1 / -1;
  }
  .item-4 {
    grid-column: 1 / -1;
  }
  .hero article.headline {
    margin-bottom: var(--heightCell);
  }
  .hero article.headline h1 {
    font-size: 4em;
  }
  .hero article.headline p span {
    margin: 1em 0.5em;
    text-align: center;
  }

  .contact form {
    padding: 2em;
    grid-template-rows: repeat(7, 100px);
  }
  .contact form div {
    border: none;
  }
  .contact form div input {
    width: calc(100% - 2em);
  }
  .contact form h3,
  .contact form .name,
  .contact form .email,
  .contact form .description {
    grid-column: 1 / -1;
  }
  .contact form .btn-call {
    grid-column: 2 / 3 span;
  }

  footer .container {
    grid-template-rows: repeat(3, 150px);
  }
  footer .container article {
    grid-column: 2 / 2 span;
  }
  footer .container .trademark {
    grid-column: 4 / 2 span;
  }

  .break {
    height: calc(var(--heightCell) * 5);
  }
  .break img {
    top: -20vh;
  }
}
@media (max-width: 900px) {
  :root {
    --columns: 3;
  }
  body {
    background: aqua;
  }
  .contact form h3 {
    font-size: 2.5em;
  }
  .contact form .btn-call {
    grid-column: 1 / 3 span;
  }

  footer .container {
    grid-template-rows: repeat(3, 120px);
  }
  footer .container article {
    grid-column: 1 / 1 span;
  }
  footer .container .trademark {
    grid-column: 2 / 2 span;
  }
  .break {
    height: calc(var(--heightCell) * 4);
  }
  .break img {
    top: -15vh;
  }
}
@media (max-width: 740px) {
  body {
    background: olive;
  }
  .hero article.headline h1 {
    font-size: 3.8em;
  }
  .break img {
    top: -10vh;
  }
  .aboutMe .aboutMeDescription p {
    font-size: 1.6em;
  }

  .break {
    height: calc(var(--heightCell) * 3);
  }
}
