:root {
  --width-break: 100vw;
  --height-break: calc((var(--width-break) * 9) / 16);
  --color-light: #f9ebeb;
  --color-dark: #1b1f3b;
  --color-main: #1f2a7a;
  --color-darkBg: #17263f;
  --color-lightAlt: #d7daf4;
  --color-unactive: rgba(27, 31, 59, 0.5);
  --unactive: #1b1f3b;
  --margin: 3em;
  --font-call: "ABeeZee", sans-serif;
  --font-text: "Montserrat", sans-serif;
  --font-title: "Muli", sans-serif;
  --font-headlines: "Righteous", cursive;
  --font-append: "Roboto", sans-serif;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadowHover: 0px 14px 14px rgba(0, 0, 0, 0.25);
  --marginBody: 6% /*  190px*/;

  /*   ;
  --widthCell: ;
  --columsBody: ;
  --rowsBody: ;
  --rowsProject: ;
  --columnsHeader: var(--margin) repeat(calc(var(--columns) - 2), 1fr)
    var(--margin);
  --carousel-height: ;
  --carousel-width: ;
  --carousel-item-width: ;
  --carousel-item-height: ; */
  --columns: 8;
  --mainColumns: repeat(var(--columns), 1fr);
  --bodyColumns: var(--marginBody) repeat(var(--columns), 1fr) var(--marginBody);
  --heightCell: 90px;
}
* {
  margin: 0;
  color: var(--color-dark);
}

body {
  gap: 1em;
  margin: 0px;
  display: grid;
  height: 100%;
  background-color: var(--color-light);
  grid-template-columns: var(--marginBody) auto var(--marginBody);
  grid-template-rows: 100px auto 600px;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  border: 1px solid green;
}
p {
  font-size: 1.8em;
  font-family: var(--font-text);
}
header {
  gap: 1em;
  display: grid;
  grid-area: header;
  background: blue;
  grid-template-columns: var(--bodyColumns);
}

nav {
  background: orange;
  display: grid;
  grid-column: 2 / var(--columns) span;
}

nav ul {
  padding: 0;
  list-style: none;
  background-color: green;
  grid-column: 6 / 3 span;
  gap: 1em;
  display: inherit;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
}

nav ul li {
  width: 80%;
  background: red;
  display: grid;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid transparent;
}

nav ul li a {
  font-size: 1.5em;
  text-decoration: none;
  font-family: var(--font-title);
}

nav ul li:hover {
  transition: 0.2s;
  border-bottom: 4px solid var(--color-dark);
}
main {
  grid-area: main;
  background-color: red;
}
.container {
  gap: 1em;
  display: grid;
  padding: var(--heightCell) 0;
  grid-template-columns: var(--mainColumns);
}
.item-4 {
  grid-column: 4 span;
}
.hero {
  background: lightcyan;
  display: grid;
  grid-template-rows: repeat(auto, var(--heightCell));
}
.hero article {
  height: 500px;
  border: 1px solid red;
  grid-column: 4 span;
}
.hero article.headline h1 {
  font-size: 4em;
  /* white-space: nowrap; */
  font-family: var(--font-headlines);
}
.hero article.headline p {
  /* white-space: nowrap; */
  margin: 2em 0;
  font-family: var(--font-text);
}
.hero article.headline p span {
  display: block;
  margin: 0.5em 0;
  margin-left: 2em;
}
.hero article.headline button {
  margin-left: 3em;
}

.projects {
  background-color: greenyellow;
}

.projects .project .video {
  height: 600px;
}
.projects .project .video video {
  background: red;
  height: 75%;
  width: 100%;
}
.projects .project .aboutProject {
  gap: 1em;
  display: grid;
  height: 600px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 136px);
}
.projects .project .aboutProject .aboutProjectOptions {
  display: grid;
  grid-column: 1 /1 span;
  grid-row: 1 / 3 span;
}
.projects .project .aboutProject .aboutProjectOptions .btn {
  height: 65px;
}
.projects .project .aboutProject .aboutProjectDescription {
  grid-column: 3 span;
  grid-row: 3 span;
}
.projects .project .aboutProject .projectActions {
  grid-column: 4 span;
}

.projects .project .aboutProject .projectActions {
  grid-column: 4 span;
  grid-row: 1 span;
  gap: inherit;
  display: grid;
}
.projects .project .aboutProject .projectActions .aboutProjectOptions {
  display: grid;
}
.projects .project .aboutProject .projectActions .icon {
  justify-self: end;
  align-self: center;
  display: inline-flex;
  grid-column: 1 / 1 span;
}
.projects .project .aboutProject .projectActions .btn-call {
  grid-column: 2 / 3 span;
  height: 50px;
  display: grid;
  align-content: center;
}
.icon {
  background: var(--color-main);
  border-radius: 50%;
  height: 5em;
  width: 5em;
  display: block;
}
.btn {
  border: none;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 1.5em;
  transition: 0.5s;
  border-radius: 2.7em;
  outline: transparent;
  font-family: var(--font-title);
  background-color: var(--color-light);
}
.btn:hover {
  box-shadow: var(--shadowHover);
}
.btn-call {
  height: 70px;
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.3em;
  padding: 0.5em 2em;
  text-align: center;
  align-self: center;
  outline: transparent;
  color: var(--color-light);
  height: var(--heightCell);
  font-family: var(--font-call);
  border: 2px solid var(--color-lightAlt);
  background-color: var(--color-main);
  box-shadow: var(--shadow);
}
.btn-call:hover {
  transition: 0.3s;
  box-shadow: var(--shadowHover);
}

.card {
  padding: 2em;
  transition: 0.5s;
  box-shadow: var(--shadow);
}
.card:hover {
  box-shadow: var(--shadowHover);
}

.break {
  border: 1px solid green;
  position: relative;
  height: calc(var(--heightCell) * 7);
}

.break img {
  width: 105vw;
  z-index: -5 /* -5 */;
  right: calc(var(--marginBody) * (-2));
  top: -30vh;
  position: absolute;
}
footer {
  grid-area: footer;
}

@media (max-width: 1523px) {
  :root {
  }
  body {
    background: lightcoral;
  }
  .hero article.headline {
    justify-items: center;
    display: grid;
  }
  .hero article.headline h1 {
    font-size: 3.3em;
  }
  .hero article.headline button {
    margin-left: 1em;
  }
  .break img {
    top: -20vh;
  }
}
@media (max-width: 1113px) {
  :root {
    --columns: 5;
  }
  body {
    background: blueviolet;
  }
  nav ul {
    grid-column: 1 / 3 span;
  }
  .hero article {
    grid-column: 1 / -1;
  }
  .item-4 {
    grid-column: 1 / -1;
  }
  .hero article.headline {
    margin-bottom: var(--heightCell);
  }
  .hero article.headline h1 {
    font-size: 4em;
  }
  .hero article.headline p span {
    margin: 1em 0.5em;
    text-align: center;
  }

  .projects {
  }
  .break img {
    top: -20vh;
  }
}
@media (max-width: 900px) {
  :root {
    --columns: 3;
  }
  body {
    background: aqua;
  }
  .break img {
    top: -15vh;
  }
}
@media (max-width: 740px) {
  body {
    background: olive;
  }
  .hero article.headline h1 {
    font-size: 3.8em;
  }
  .break img {
    top: -10vh;
  }
}
/* 
.item-3,
.item-4,
.item-5 {
  gap: inherit;
  display: inherit;
  grid-row: 1 / -1;
  grid-template-rows: repeat(5, 1fr);
}
.item-3 {
  grid-column: 3 span;
  grid-template-columns: repeat(3, 1fr);
}
.item-4 {
  grid-column: 4 span;
  grid-template-columns: repeat(4, 1fr);
}
.item-5 {
  grid-column: 5 span;
  grid-template-columns: repeat(5, 1fr);
}



.projects .project.container {
  grid-column: 1 / -1;
  grid-row: 5 span;
}

.project.container .item-4 video {
  grid-column: 4 span;
  grid-row: 4 span;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 56.26%;
  box-shadow: var(--shadowHover);
}
.interlude {
  display: inherit;
  grid-column: 1 / -1;
  grid-row: 1 span;
}
.project.container .item-4,
.project.container .aboutProject {
  grid-row: 1 / 5 span;
}
.project.container .item-4 .aboutProjectOptions {
  grid-column: 1 span;
  grid-row: 4 span;
  display: grid;
  justify-items: center;
  align-items: center;
}
.project.container .item-4 .aboutProjectOptions .btn {
  width: 100%;
}
.projects.container .item-4 .aboutProjectDescription {
  font-family: var(--font-text);
  grid-column: 3 span;
  font-size: 1.25em;
  grid-row: 4 span;
}
.projects.container .item-4 .projectActions {
  grid-column: 4 span;
  grid-row: 1 span;
  gap: inherit;
  display: grid;
}
.projects.container .item-4 .projectActions .icon {
  grid-column: 1 span;
  display: inline-flex;
  align-self: center;
  justify-self: end;
}
.projects.container .item-4 .projectActions .btn-call {
  grid-column: 2 / 3 span;
  width: 70%;
}
.project.reverse.container .item-4 .projectActions .icon {
  grid-row: 1;
  grid-column: 4 / 1 span;
  justify-self: initial;
}
.project.reverse.container .item-4 .projectActions .btn-call {
  grid-column: 1 / 3 span;
  justify-self: end;
  width: 70%;
}
.aboutMeDescription {
}
.aboutMeDescription p {
  grid-column: 5 span;
  line-height: 1.5em;
  font-size: 1.5em;
  grid-row: 1 / -1;
  font-family: var(--font-text);
}
.aboutMe .aboutMeFunctions {
  grid-row: 1 / -1;
  grid-column: 3 span;
  position: relative;
}

.aboutMe .aboutMeFunctions .carousel {
  overflow: hidden;
  position: relative;
  width: var(--carousel-width);
  height: var(--carousel-height);
  perspective: 93px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: rotate(90deg);
  position: absolute;
  top: -41%;
  left: 50%;
}
.carousel-item {
  visibility: hidden;
  opacity: 1 !important;
  background: var(--color-light);
  width: var(--carousel-item-width);
  height: var(--carousel-item-height);
  position: absolute;
  top: -3%;
  left: 0;
  width: 36.25% !important;
  height: 80% !important;
}
.carousel-item.active p {
  color: var(--color-dark);
}
.carousel-item.card {
  box-shadow: 8px 0px 8px 2px rgba(27, 31, 59, 0.2);
}
.carousel-item.card:hover {
  box-shadow: 12px 0px 8px 4px rgba(27, 31, 59, 0.2);
}
.carousel-item p {
  transform: rotate(-90deg);
  width: 100%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 0;
  text-align: center;
  font-size: 1.5em;
  transition: 0.25s;
  font-family: var(--font-title);
  color: var(--color-unactive);
  display: grid;
  align-content: center;
  cursor: default;
}
.container.contact {
  grid-row: 6 span;
  grid-template-rows: repeat(6, 1fr);
}
.contact form {
  grid-template-rows: repeat(6, 1fr);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.contact form h3 {
  font-size: 2em;
  align-self: center;
  text-align: center;
  font-family: var(--font-title);
  grid-column: 2 / 6 span;
}
.contact form div {
  height: 60%;
  align-self: center;
}
.contact form .name {
  border-right: 4px solid var(--color-dark);
  grid-column: 2 / 3 span;
}
.contact form .email {
  border-left: 4px solid var(--color-dark);
  grid-column: 3 span;
  display: grid;
  justify-items: end;
}
.contact form .email input {
  justify-self: right;
}
.contact form input {
  height: 50%;
  width: 80%;
}
.contact form input,
.contact form textarea {
  font-size: 1.5em;
  padding: 0.5em 1em;
  font-family: var(--font-text);
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
}

.contact form .description {
  grid-column: 2 / 6 span;
  grid-row: 3 span;
}
.contact form .btn-call {
  height: 80%;
  padding: 0% 10%;
  grid-column: -5 / 3 span;
}

footer.container {
  grid-column: 1 / -1;
  grid-row: 5 span;
  gap: inherit;
  position: relative;
  grid-template-columns: inherit;
  grid-template-rows: repeat(5, var(--heightCell));
  background-color: var(--color-darkBg);
}
footer.container::before {
  content: " ";
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  top: -85%;
  background-color: var(--color-darkBg);
}
footer.container article {
  grid-column: 4 / 3 span;
  display: grid;
  justify-items: center;
  align-items: center;
}
footer.container article a,
footer.container article p {
  font-size: 1.5em;
  text-decoration: none;
  font-family: var(--font-title);
  color: var(--color-light);
}
footer.container .twitter {
  grid-row: 2 / 1 span;
}
footer.container .github {
  grid-row: 3 / 1 span;
}
footer.container .linkedin {
  grid-row: 4 / 1 span;
}
footer.container .trademark {
  grid-row: 2 / 1 span;
  grid-column: 7 / 3 span;
}
*/

/* 
@media (max-width: 1523px) {
  :root {
    --columns: 8;
  }
  .container {
    grid-column: 2 / 8 span;
  }
  body {
    background: lightcoral;
  }
  header nav {
    grid-column: 3 span / -1;
  }
  .projects.container {
    grid-column: 2 / 8 span;
  }
  .aboutMe .carousel {
    top: -54%;
    left: 40%;
  }
  .break img {
    top: -20vh;
  }
  footer.container article {
    grid-column: 3 / 3 span;
  }
  footer.container .trademark {
    grid-column: 6 / 3 span;
  }
}

@media (max-width: 1113px) {
  :root {
    --columns: 5;
  }
  body {
    background: gray;
  }
  header nav ul {
    grid-column: 2 / 3 span;
  }
  .container {
    grid-column: 2 / 5 span;
    grid-template-columns: repeat(5, 1fr);
  }
  .item-4 {
    grid-column: 5 span;
    grid-template-columns: inherit;
  }
  main section.photo {
    display: none;
  }
  main .headline h1,
  main .headline p {
    text-align: center;
    grid-column: 5 span;
  }
  main .headline button {
    grid-column: 2 / 3 span;
  }
  .projects.container {
    grid-column: 2 / 5 span;
  }
  .projects.container .project.container {
    grid-row: 1 / -1;
    grid-row: 10 span;
    grid-template-rows: repeat(calc(var(--rowsProject) -1), 1fr);
  }

  .project.container .item-4 {
    grid-column: 1 / -1;
    grid-row: 1 / 5 span;
  }
  .project.container .item-4.video {
  }
  .project.container .item-4 video {
    grid-column: 5 span;
    grid-row: 5 span;
  }
  .project.container .aboutProject {
    grid-column: 1 / -1;
    grid-row: 6 / 2 span;
  }
  .projects.container .project.container .aboutProjectDescription {
    grid-row: 4 span;
    grid-column: 4 span;
    justify-self: center;
  }
  .projects.container .project.container .projectActions {
    grid-column: 1 / -1;
    grid-template-columns: repeat(5, 1fr);
  }
  .projects.container .project.container .projectActions .icon {
    grid-column: 2 span;
  }
  .projects.container .project.container .projectActions .btn-call {
    grid-column: 3 / 2 span;
  }
  .projects.container .project.reverse.container .projectActions .icon {
    grid-column: -1 / -3;
  }
  .projects.container .project.reverse.container .projectActions .btn-call {
    grid-column: 2 / 2 span;
  }

  .aboutMe.container {
    grid-row: 10 span;
    grid-template-rows: repeat(10, 1fr);
  }
  .aboutMe.container .aboutMeDescription {
    grid-row: 1 / 5 span;
  }
  .aboutMe.container .aboutMeFunctions {
    grid-row: 6 / 5 span;
    grid-column: 2 / 3 span;
  }
  .aboutMe.container .aboutMeFunctions div {
    width: var(--carousel-width);
  }
  .contact form h3 {
    grid-column: 1 / 5 span;
  }
  .contact form .name {
    grid-column: 1 / 2 span;
  }
  .contact form .email {
    grid-column: -3 / -1;
  }
  .contact form .description {
    grid-column: 1 / 5 span;
  }
  .break {
    border: 1px solid red;
    grid-row: 4 span;
  }
  .break.four img {
    top: 8vh;
    z-index: 1;
  }
  footer.container {
  }
  footer.container:before {
    display: none;
  }
  footer.container article {
    grid-column: 1 / 3 span;
  }
  footer.container .twitter {
    grid-row: 3 / 1 span;
  }
  footer.container .github {
    grid-row: 4 / 1 span;
  }
  footer.container .linkedin {
    grid-row: 5 / 1 span;
  }
  footer.container .trademark {
    grid-row: 3 / 1 span;
    grid-column: 5 / 3 span;
  }
}

@media (max-width: 900px) {
  body {
    background: blueviolet;
  }
  header nav {
    grid-column: 3 / -3;
  }
}

@media (max-width: 740px) {
  :root {
    --columns: 3;
  }
  body {
    background: yellow;
  }
  header nav ul {
    grid-column: 1 / -1;
  }
  .container {
    grid-column: 2 / 3 span;
    grid-template-columns: repeat(3, 1fr);
  }
  main .headline,
  main .headline h1,
  main .headline p,
  main .headline button {
    grid-column: 3 span;
  }

  .projects.container {
    grid-column: 2 / 3 span;
    border: 1px solid white;
  }
  .projects.container .project.container {
    grid-row: 1 / -1;
    grid-row: 10 span;
    grid-template-rows: repeat(calc(var(--rowsProject) -1), 1fr);
  }

  .project.container .item-4 {
    grid-column: 1 / -1;
    grid-row: 1 / 4 span;
  }
  .project.container .item-4.video {
    grid-template-rows: 1fr;
    position: relative;
  }
  .project.container .item-4.video {
    grid-template-rows: 1fr;
    position: relative;
  }
  .project.container .item-4 video {
    height: 90%;
    position: absolute;
    grid-column: 3 span;
    grid-row: 4 span;
    background-color: blue;
  }
  .project.container .aboutProject {
    grid-column: 1 / -1;
    display: grid;
    grid-row: 5 / 2 span;
  }
  .projects.container .project.container .aboutProjectDescription {
    grid-column: 2 span;
    align-self: center;
  }
  .projects.container .project.container .projectActions {
    align-self: baseline;
    grid-template-columns: repeat(3, 1fr);
  }
  .projects.container .project.container .projectActions .icon {
    grid-column: 1 span;
  }
  .projects.container .project.container .projectActions .btn-call {
    grid-column: 2 / 2 span;
  }
  .projects.container .project.container.reverse .projectActions .icon {
    grid-column: -2 / 2 span;
  }
  .projects.container .project.container.reverse .projectActions .btn-call {
    grid-column: 1 / 2 span;
  }

  .item-5 {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 3 span;
  }
  .aboutMeDescription p {
    grid-column: 3 span;
  }
  .aboutMe.container .aboutMeFunctions {
    grid-column: 1 / 3 span;
  }

  .contact form h3 {
    grid-column: 1 / 3 span;
  }
  .contact.contact form div {
    border: none;
    display: grid;
    grid-column: 1 / 3 span;
    justify-items: center;
  }
  .contact.contact form input {
  }
  .contact form div .name {
    border-right: none;
    grid-column: 1 / 3 span;
  }
  .contact form div .email {
    grid-column: 1 / 3 span;
    border: none;
  }
  .contact form .description {
    grid-column: 1 /3 span;
  }
  .contact form .btn-call {
    grid-column: 1 /3 span;
    padding: 5% 10%;
    display: grid;
    align-content: center;
  }
  .break {
    border: 1px solid red;
    grid-row: 2 span;
  }

  footer.container {
    grid-template-columns: var(--margin) repeat(3, 1fr) var(--margin);
    grid-column: 1 / -1;
  }
  footer.container .article {
    grid-column: 3 / 1 span;
  }
  footer.container .trademark {
    grid-column: -3 / 1 span;
  }
  .break.four img {
    top: 1vh;
  }
}
 */
