/* 
    font-family: 'Molengo', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Fredericka the Great', cursive;
 */
body {
    margin: 0;
    font-size: 16px;
    color: var(--blueDark);
    background: var(--blueLight);
    font-family: 'Molengo', sans-serif;
    --blue: #0E3B75;
    --blueDark: #05042B;
    --blueLight: #DAE6F5;
    --pink: #FCBCB8;

    --gap: 5px;
    --headerHeight: 72px;
    --footerHeight: 54px;
    --mainHeigh: calc(100vh - (var(--headerHeight) + var(--footerHeight)) );
    --templateColumns: [start] .5fr [ini_about] .5fr [p_1] 1fr [p_2] 1fr [p_3] 1fr  [p_4] 1fr [project_nav] 1fr [rest_space] 2fr [end] .5fr; 
    --templateRows: [header] var(--headerHeight) [main] var(--mainHeigh) [footer] var(--footerHeight);
    display: grid;
    grid-template: var(--templateRows) / 1fr;

}
header {
    display: grid;
    grid-row: header / 1 span;
    margin-bottom: var(--gap);
}
header nav {
    display: inherit;
}
header nav ul {
    margin: 0; 
    padding: 0;
    list-style: none;
    display: inherit;
    grid-column-gap: var(--gap);
    grid-template-columns: var(--templateColumns);
} 
header nav ul li {
    display: inherit;
}
header nav ul li span {
    align-self: center;
}
header nav ul li:nth-of-type(1) {
    font-size: 2em;
    grid-column: ini_about / span 2;
    font-family: 'Monoton', cursive;
}
header nav ul li:nth-of-type(2) {
    grid-column: p_4 / 1 span;
}
header nav ul li:nth-of-type(3) {
    color: var(--blueLight);
    grid-column: project_nav / -1;
    background-color: var(--blueDark);
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0% 100%);
}
header nav ul li:nth-of-type(3) span {
    position: relative;
    justify-self: left;
    left: 20%;
}



main {
    display: grid;
    position: relative;
    grid-row: main / footer;
    grid-gap: 5px;
    grid-template-columns: var(--templateColumns);
}
.about {
    padding: 16px;
    display: inherit;
    color: var(--pink);
    grid-row: 1 / -1;
    grid-column: start / project_nav;
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--blueDark);
    clip-path: polygon(0 0, 99% 0, 20.2% 100%, 0% 100%);
}
.about .about_content {
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
}
.projects {
    display: inherit;
    grid-gap: 5px;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
    grid-template-rows: repeat(4, 1fr);
}

.projects .project {
    display: inherit;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
}
.projects .project:nth-of-type(1) {
    grid-row: 1 / 1 span;
    grid-column: p_4 / -1;
    clip-path: polygon(21.5% 0, 100% 0, 100% 100%, 0% 100%);
}
.projects .project:nth-of-type(2) {
    grid-row: 2 / 1 span;
    grid-column: p_3 / -1;
    clip-path: polygon(17.5% 0, 100% 0, 100% 100%, 0% 100%);
}
.projects .project:nth-of-type(3) {
    grid-row: 3 / 1 span;
    grid-column: p_2 / -1;
    clip-path: polygon(14.8% 0, 100% 0, 100% 100%, 0% 100%);
}
.projects .project:nth-of-type(4) {
    grid-row: 4 / 1 span;
    grid-column: p_1 / -1;
    clip-path: polygon(12.8% 0, 100% 0, 100% 100%, 0% 100%);
}
.projects .project .projectLink {
    color: white;
    text-align: center;
    text-decoration: none;
}

footer {
    display: inherit;
    margin-top: 5px;
    grid-row: footer / 1 span;
    grid-template-columns: var(--templateColumns);
}
footer .rightFooter {
    display: inherit;
    grid-template: inherit;
    grid-column: ini_about / -1;
    background: var(--blueDark); 
    clip-path: polygon(6.5% 0, 100% 0, 100% 100%, 0% 137%);
}
footer .rightFooter .links {
    display: inherit;
    justify-content: space-around;
    align-content: center;
    grid-column: rest_space / 1 span;
    grid-template-columns: repeat(4, 25px);
}
 
.links .link svg {
    width: 100%;
    height: 100%;
}
