/* Setting class container*/
:root {
  --width-break: 100vw;
  --height-break: calc((var(--width-break) * 9) / 16);
  --color-light: #f9ebeb;
  --color-dark: #1b1f3b;
  --color-main: #1f2a7a;
  --color-lightAlt: #d7daf4;
  --unactive: #1b1f3b;
  --margin: 3em;
  --font-call: "ABeeZee", sans-serif;
  --font-text: "Montserrat", sans-serif;
  --font-title: "Muli", sans-serif;
  --font-headlines: "Righteous", cursive;
  --font-append: "Roboto", sans-serif;
  --widthCell: ;
  --columns: 10;
  --columnsBody: calc(var(--columns) - 2);
  --columnsBodyTemplate: repeat(var(--columnsBody), 1fr);
  --shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  --shadowHover: 0px 14px 14px rgba(0, 0, 0, 0.25);
}
* {
  margin: 0;
  color: var(--color-dark);
}

.button-action {
  background-color: var(--color-main);
  color: var(--color-light);
}
body {
  gap: 1em;
  margin: 0px;
  display: grid;
  background-color: var(--color-light);
  grid-template-columns: var(--columnsBodyTemplate);
}
header {
  display: inherit;
  justify-items: stretch;
  grid-column: 1 / -1;
}
nav {
  gap: 1em;
  display: grid;
  grid-template-columns: var(--columnsBodyTemplate);
}
nav ul {
  gap: 1em;
  padding: 0;
  display: inherit;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 3 span / -3;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid transparent;
}
nav ul li a {
  padding: 14% 0;
  font-size: 1.5em;
  text-decoration: none;
  font-family: var(--font-title);
}
nav ul li:hover {
  transition: 0.2s;
  border-bottom: 4px solid var(--color-dark);
}
main {
  display: inherit;
  grid-row: 2/ 5 span;
  grid-column: 3 / 8 span;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: inherit;
}
main .headline,
main .photo {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: inherit;
  gap: inherit;
  justify-content: stretch;
  grid-column: 4 span;
  display: inherit;
  justify-items: stretch;
  grid-row: 2 / 4 span;
}

main section h1 {
  font-size: 3.8em;
  font-family: var(--font-headlines);
}
main p {
  font-family: var(--font-text);
}
main p span {
  display: block;
  margin: 0.5em 0;
}
main button {
  height: 2em;
  font-size: 2em;
  grid-column: 3 span;
  border-radius: 0.3em;
  color: var(--color-light);
  border: 2px solid var(--color-lightAlt);
  background-color: var(--color-main);
  box-shadow: var(--shadow);
  outline: transparent;
}
main button:hover {
  transition: 0.3s;
  box-shadow: var(--shadowHover);
}
main h1,
main p,
main div {
  grid-column: 4 span;
}

.projects {
  grid-template-columns: inherit;
  display: inherit;
  grid-column: 3 / 8 span;
  grid-row: 5 span;
}
.projects .project {
  grid-column: 1 / -1;
  grid-template-columns: repeat(8, 1fr);
  display: inherit;
  gap: 1em;
}

.break {
  position: relative;
  grid-row: 7 / 5 span;
  border: 1px solid red;
  grid-column: 1 / -1;
  height: calc(var(--height-break) / 2);
}
.break:hover {
  /* At the moment of Hover change the value of the box */
}

.break img {
  z-index: -100;
  width: var(--width-break);
  top: -30vh;
  position: absolute;
}

@media (max-width: 1523px) {
  :root {
    --columns: 8;
  }
  header {
    background: red;
  }
  header nav {
    grid-column: 3 span / -1;
  }
}
@media (max-width: 1113px) {
  :root {
    --columns: 5;
  }
  header {
    background: gray;
  }
}

@media (max-width: 900px) {
  header {
    background: blueviolet;
  }
  header nav {
    grid-column: 3 / -3;
  }
}

@media (max-width: 740px) {
  :root {
    --columns: 3;
  }
  header {
    background: yellow;
  }
  header nav ul {
    grid-column: 1 / -1;
  }
}
